rest-handler-parent/rest-handler-client/src/main/resources/META-INF/xsd/handler-client.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns="https://github.com/lijiayao10/rest-handler"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="https://github.com/lijiayao10/rest-handler"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interfaceClass" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>姓名</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="handlerUrl" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>性别</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="restTemplate" type="xsd:ref">
						<xsd:annotation>
							<xsd:documentation>年龄</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>